<h1>Form Parameters Display</h1>
<p>You had entered:</p>
<p>String - <%= params[:post][:fstring] %></p>
<p>Reverse- <%= params[:post][:fstring].reverse %></p>
<p>Click <a href="/">here</a> to try a new string.</p>